! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1c1c1c, #ffffff, #200000
rofi.color-normal: #1c1c1c, #eaeaea, #1c1c1c, #1c1c1c, #ffd75f
rofi.color-active: #f00000, #268bd2, #e00000, #200000, #f00000
rofi.color-urgent: #f00000, #dc322f, #f00000, #f00000, #fdf6e3

Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintmedium
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
